@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: beige;

    font-family: 'Alegreya', serif;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items:center;
    height: 15vh;
}

.logo-img img{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 10px;

}
nav ul li a{
    font-size: 1em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
nav ul li{
    margin-right: 20px;
}
.tag1{
    text-decoration: none;
    color: black;
}
 a:hover{
    color: white;
 }
 #header{
    height: 30vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .bio{
    display: flex;
    column-gap: 200px;
 }
 header p{
    font-size:2em;
 }
 h1{
    font-size: 3.5em;
    font-weight: bold;
}
h2{
    font-size: 3em;
    font-weight: bold;
}
h3{
    font-size: 2.5em;
    font-weight: bold;
}
h4{
    font-size: 2em;
    font-weight: bold;
}
.bio{
    display: flex;
    align-items: center;
}
.bio img{
    width: 300px;
    height: 300px;
    margin: 50;
}
.bio p{
    font-size: 1em;
    font-weight: bold;
}
hr{
    width: 500px;
}
#portfolios{
    background: #dbd5d1;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: bold ;
}
#portfolios div{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    width: 100%;
}
#portfolios div article{
    background-color: #848382;
    justify-content: space-around;
    color: black;
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
#portfolios div article p{
    font-weight: bold;
    font-size: 1em;
}
#portfolios div article img{
    height: 20vh;
    width: 2ovh;
}
#portfolio div article h4{
    font-weight: bold;
    font-size: 1.5em;
}
#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
#skills-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#skills-container div{
    align-items: center;
}
#skills ul{
    list-style: none;
    font-size: 1em;
    font-weight: bold;
}
#skills ul li{
    margin-top: 10px;
    font-size: 1.5em;
}
progress[value]{
    height: 10px;
    width: 500px;
    -webkit-appearance:none;
}
::-webkit-progress-value{
    background-color:hotpink ;
}
progress[value]::-webkit-progress-bar{
    background-color:black;
}
#contact{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
#contact form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 20px;
}
.input{
    line-height: 2em;
    width: 400px;
    border-radius: 3px;
    border-color: black;
    margin: 20px 0;
}
 